<a href="https://colab.research.google.com/github/SergioLemos1963/Exemplos-Python/blob/man/iris.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving iris.csv to iris.csv

In [ ]:
import pandas as pd
import io

In [ ]:
df = pd.read_csv(io.BytesIO(uploaded['iris.csv']))

In [ ]:
df

     sepallength  sepalwidth  petallength  petalwidth           class
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

In [ ]:
df['class'] = df['class'].replace('Iris-setosa',1)
df['class'] = df['class'].replace('Iris-versicolor',2)
df['class'] = df['class'].replace('Iris-virginica',3)

In [ ]:
df

     sepallength  sepalwidth  petallength  petalwidth  class
0            5.1         3.5          1.4         0.2      1
1            4.9         3.0          1.4         0.2      1
2            4.7         3.2          1.3         0.2      1
3            4.6         3.1          1.5         0.2      1
4            5.0         3.6          1.4         0.2      1
..           ...         ...          ...         ...    ...
145          6.7         3.0          5.2         2.3      3
146          6.3         2.5          5.0         1.9      3
147          6.5         3.0          5.2         2.0      3
148          6.2         3.4          5.4         2.3      3
149          5.9         3.0          5.1         1.8      3

[150 rows x 5 columns]

In [ ]:
x = df.drop('class', axis = 1)

In [ ]:
y = df['class']

In [ ]:
x

     sepallength  sepalwidth  petallength  petalwidth
0            5.1         3.5          1.4         0.2
1            4.9         3.0          1.4         0.2
2            4.7         3.2          1.3         0.2
3            4.6         3.1          1.5         0.2
4            5.0         3.6          1.4         0.2
..           ...         ...          ...         ...
145          6.7         3.0          5.2         2.3
146          6.3         2.5          5.0         1.9
147          6.5         3.0          5.2         2.0
148          6.2         3.4          5.4         2.3
149          5.9         3.0          5.1         1.8

[150 rows x 4 columns]

In [ ]:
y

0      1
1      1
2      1
3      1
4      1
      ..
145    3
146    3
147    3
148    3
149    3
Name: class, Length: 150, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_treino, x_teste, y_treino, y_teste = train_test_split(x, y, test_size = 0.35)

In [ ]:
x_treino.shape

(97, 4)

In [ ]:
x_teste.shape

(53, 4)

In [ ]:
from sklearn.ensemble import ExtraTreesClassifier

In [ ]:
modelo = ExtraTreesClassifier()

In [ ]:
modelo.fit(x_treino, y_treino)

ExtraTreesClassifier()

In [ ]:
resultado = modelo.score(x_teste, y_teste)

In [ ]:
print("Acurácia:", resultado)

Acurácia: 0.9622641509433962