<a href="https://colab.research.google.com/github/SergioLemos1963/Exemplos-Python/blob/man/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3

conexao = sqlite3.connect("aluno.db")

sql = "CREATE TABLE TbAluno (codigo integer primary key autoincrement, \
       nome varchar(40), email TEXT, dataNasc date, ativo bool,\
       semestre int, turma char);"

cursor = conexao.cursor()
cursor.execute(sql)

In [ ]:
vnome = "Teste"
vemail = "teste@gmail.com"
vdataNasc = "06/08/1980"
vativo = True
vsemestre = 1
vturma = "A"

conexao = sqlite3.connect("aluno.db")
cursor = conexao.cursor()

sql = 'INSERT INTO TbAluno(nome, email, datanasc, ativo, semestre, turma)\
     values ("%s","%s","%s","%s","%s","%s")' \
     % (vnome, vemail, vdataNasc, vativo, vsemestre, vturma)                                        

cursor.execute(sql)
conexao.commit()
print("Cadastro efetuado com sucesso!!!!")

Cadastro efetuado com sucesso!!!!

In [ ]:
conexao = sqlite3.connect("aluno.db")

cursor = conexao.cursor()

cursor.execute("Select * from TbAluno")

for i in cursor.fetchall():
    print(i)

(1, 'Erica', 'ericaolsilva@gmail.com', '06/08/1983', 'True', 1, 'A')